.login-cmp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 710px;
  height: 100vh;
}

.login-cmp .wrapper-login {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #BDBDBD;
  border-radius: 24px;
  width: 473px;
  flex-grow: 1;
  padding: 2.5rem 4rem;
}

.login-cmp .wrapper-login form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .7rem;
  margin: 1rem 0;
}

.login-cmp .title-login {
  font-size: 18px;
  font-weight: 600;
  line-height: 24.52px;
  letter-spacing: -0.035em;
}

.login-cmp .subtitle-login {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  letter-spacing: -0.035em;
}

.login-cmp .input-wrapper-login {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #BDBDBD;
}

.login-cmp .input-wrapper-login input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  letter-spacing: -0.035em;
  background-color: var(--bg-color);
  color: var(--color);
}

.login-cmp .wrapper-login button[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2F80ED;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  height: 38px;
  border-radius: 8px;
  margin-top: .6rem;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
  opacity: 1;

  &:disabled {
    background-color: #555555;
    cursor: not-allowed;
  }

  &:disabled:hover {
    background-color: #555555;
    cursor: not-allowed;
  }

  &:disabled:active {
    background-color: #555555;
    opacity: 1;
  }

  &:hover {
    background-color: #055dcf;
  }

  &:active {
    opacity: .8;
  }
}


.login-cmp .wrapper-login span {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  letter-spacing: -0.035em;
  text-align: center;
  color: #828282;
}

.login-cmp .socials-login {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 240px;
  margin: .5rem 0;
}

.login-cmp .wrapper-login a {
  text-decoration: none;
  color: #2F80ED;
}


.login-cmp .wrapper-login .error-msg {
  position: absolute;
  font-weight: 500;
  color: #ff3b3b;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}