.profile-cmp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.profile-cmp .nav-profile {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.profile-cmp .logo-cmp {
  margin: 0;
}

.profile-cmp .main-wrapper-profile>h2 {
  font-family: Noto Sans;
  font-size: 36px;
  font-weight: 400;
  line-height: 49.03px;
  letter-spacing: -0.035em;
  text-align: center;
  color: var(--data-color);
}

.profile-cmp .main-wrapper-profile>h4 {
  font-size: 18px;
  font-weight: 300;
  line-height: 24.52px;
  letter-spacing: -0.035em;
  text-align: center;
  color: var(--data-color);
}

.profile-cmp .main-wrapper-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  max-width: 850px;
}

.profile-cmp .info-main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.profile-cmp .info-wrapper-profile {
  width: 100%;
  border: 1px solid #E0E0E0;
  border-radius: 12px;
  padding-top: 1.5rem;
  margin-top: 2rem;
}

.input-wrapper-profile+.input-wrapper-profile {
  border-top: 1px solid #E0E0E0;
}

.has-bottom-border {
  border-bottom: 1px solid #E0E0E0;
}

.profile-cmp .input-wrapper-profile .image-frame {
  position: relative;
  width: 72px;
  height: 72px;
  margin: .5rem 0;
  margin-left: 11px;
  padding: .8rem;
  box-sizing: content-box;
  transition: all .3s ease;
}

.profile-cmp .input-wrapper-profile .image-frame.edit-frm {
  border: 1px solid #828282;
  border-radius: 50%;
  cursor: pointer;
  width: 200px;
  height: 200px;
}

.profile-cmp .input-wrapper-profile img {
  transition: all .3s ease;
  border-radius: 10px;
  object-fit: cover;
}

.profile-cmp .input-wrapper-profile img.edit-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.profile-cmp .input-wrapper-profile .photo-cmp {
  position: absolute;
  border-radius: 50%;
  bottom: -5px;
  right: 0;
  background-color: #555555;
  height: 40px;
  padding: 17px;
  box-sizing: content-box;
}

.profile-cmp .info-header-profile {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E0E0E0;
  padding: 0 3rem;
  padding-bottom: 1.7rem;
  gap: .4rem
}

.profile-cmp .left-profile>h5 {
  font-family: Noto Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 32.69px;
  letter-spacing: -0.035em;
}

.profile-cmp .left-profile>p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  letter-spacing: -0.035em;
  text-align: left;
  color: #828282;
  margin-top: .3rem;
}

.profile-cmp .info-header-profile button {
  width: 96px;
  height: 38px;
  border-radius: 12px;
  border: 1px solid #828282;
  background-color: transparent;
  color: #828282;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: #828282;
    color: white;
  }

  &:active {
    opacity: .8;
  }
}

.profile-cmp .info-main-profile {
  position: relative;
}

.profile-cmp .info-main-profile>form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.profile-cmp input[type="file"] {
  display: none;
}

.profile-cmp .input-wrapper-profile {
  display: flex;
  align-items: center;
  padding: .5rem 3rem;
}

.profile-cmp .input-wrapper-profile>input {
  font-family: Noto Sans;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  border: 1px solid #828282;
  padding: 0 1.5rem;
  line-height: 24.52px;
  width: 416.93px;
  height: 52px;
  width: 70%;
  transition: all .3s ease;
}

.profile-cmp .input-wrapper-profile>textarea {
  font-family: Noto Sans;
  font-size: 18px;
  font-weight: 500;
  color: var(--data-color);
  padding: .8rem 1.5rem;
  border-radius: 12px;
  border: 1px solid #828282;
  outline: none;
  background-color: transparent;
  width: 77%;
  height: auto;
  overflow: hidden;
  resize: none;
}

.profile-cmp .input-wrapper-profile>.disabled {
  border: 1px solid transparent;
}

.profile-cmp .input-wrapper-profile>label {
  font-size: 13px;
  font-weight: 500;
  line-height: 17.71px;
  letter-spacing: -0.035em;
  width: 30%;
  color: #BDBDBD;
}

.profile-cmp .input-wrapper-profile .image-frame {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-cmp .input-wrapper-profile>input[type="email"] {
  border: none;
  cursor: not-allowed;

  &:disabled {
    border: none;
  }
}

.profile-cmp .info-main-profile button[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2F80ED;
  max-width: 400px;
  min-width: 300px;
  align-self: flex-end;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  height: 38px;
  border-radius: 8px;
  margin-right: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #055dcf;
  }

  &:active {
    opacity: .8;
  }
}


.profile-cmp .checkmark {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  gap: .5rem;
  color: #00b600;
}

.profile-cmp .checkmark span {
  animation-name: message;
  animation-duration: 2s;
  animation-timing-function: linear;
  color: #00b600;
}

@keyframes message {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 720px) {
  .profile-cmp .info-header-profile {
    padding: 0 2rem;
    padding-bottom: 1.7rem;
  }

  .profile-cmp .input-wrapper-profile {
    padding: .5rem 2rem;
  }

  .profile-cmp .info-main-profile button[type="submit"] {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .profile-cmp .info-header-profile {
    padding: 0 1rem;
    padding-bottom: 1.7rem;
  }

  .profile-cmp .input-wrapper-profile {
    padding: .5rem 1rem;
  }

  .profile-cmp .info-main-profile button[type="submit"] {
    margin-right: 1rem;
  }

  .profile-cmp .input-wrapper-profile .image-frame.edit-frm {
    width: 150px;
    height: 150px;
  }
  .profile-cmp .input-wrapper-profile img.edit-img {
    width: 150px;
    height: 150px;
  }

  .profile-cmp .input-wrapper-profile {
    gap: .2rem;
  }
  .profile-cmp .input-wrapper-profile>label {
    width: 30%;
  }

  .login-cmp .wrapper-login .error-msg {
    font-size: 11px;
  }
}