@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

input {
  all: unset;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
}

.app.light {
  --color: #333333;
  --data-color: black;
  --bg-color: white;
}

.app.dark {
  --color: #E0E0E0;
  --data-color: white;
  --bg-color: #252329;
}

.app {
  color: var(--color);
  background-color: var(--bg-color);
  min-height: 100vh;
}